{% extends "di-govuk-one-login-service-header/layouts/service-header.html" %}
{% extends "layouts/main.html" %}
{% set pageName = 'Check your answers' %}

{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block header %}
  {{ govukOneLoginServiceHeader({
    signOutLink: "/one-login-signout",
    oneLoginLink: "/#",
    serviceNavigationParams: { 
      serviceName: "Claim an early years financial incentive payment",
      navigationLabel: "Test label" 
    }
  }) }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">  
<h1 class="govuk-heading-l">Check your answers before sending your application</h1>

  <h2 class="govuk-heading-m">Personal details</h2>

  {{ govukSummaryList({
    rows: [
      {
        key: { text: "Full name" },
        value: { text: data.returnClaimantFirstName + " " + data.returnClaimantLastName },
        actions: { items: [{ href: "/change/full-name", text: "Change", visuallyHiddenText: "full name" }] }
      },

      {
        key: { text: "Date of birth" },
          value: {
            text: (data["returnClaimantDob-day"] or "") + " " +
                  (data["returnClaimantDob-month"] or "") + " " +
                  (data["returnClaimantDob-year"] or "")
          },
        actions: { items: [{ href: "#", text: "Change", visuallyHiddenText: "date of birth" }] }
      },
      {
        key: { text: "National Insurance number" },
        value: { text: data.returnClaimantNationalInsuranceNumber or "Not provided" },
        actions: { items: [{ href: "#", text: "Change", visuallyHiddenText: "National Insurance number" }] }
      },

      {
        key: { text: "Address" },
        value: {
          html: '<ul class="govuk-list">
                  <li>3 King St</li>
                  <li>Parkville</li>
                  <li>North Parkshire</li>
                  <li>PR1 9SP</li>
                </ul>'
        },
        actions: {
          items: [{
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }]
        }
      },

        {
        key: { text: "Email address" },
        value: { text: data.workEmail },
        actions: { items: [{ href: "/change/email", text: "Change", visuallyHiddenText: "email address" }] }
      },
      
      {
        key: { text: "Mobile number provided" },
        value: { text: "Yes" },
        actions: { items: [{ href: "/change/provide-mobile", text: "Change", visuallyHiddenText: "mobile number preference" }] }
      },

      {
        key: { text: "Mobile number" },
        value: { text: "07900 000 000" },
        actions: { items: [{ href: "/change/mobile", text: "Change", visuallyHiddenText: "mobile number" }] }
      },
      
      {
        key: { text: "Gender on employer’s payroll system" },
        value: { text: "Male" },
        actions: { items: [{ href: "#", text: "Change", visuallyHiddenText: "gender" }] }
      },
    ]
  }) }}

  <h2 class="govuk-heading-m govuk-!-margin-top-8">Payment details</h2>

   {##################### Bank details error inset text #######################}
    {# If there is a bank details error, show an inset text message #}
    {% if data.bankDetailsError %}
      
        {{ mojAlert({
          variant: "warning",
          title: "We could not verify these bank details",
          showTitleAsHeading: true,
          dismissible: false,
          text: 'Check before continuing',
          id: "bank-details"
        }) }}
      
    {% endif %}

  {{ govukSummaryList({
    rows: [
      {
        key: { text: "Name on bank account" },
        value: { text: data.returnClaimantBankAccountName or "Not provided" },
        actions: { items: [{ href: "/change/bank-account-name", text: "Change", visuallyHiddenText: "bank account name" }] }
      },
      {
        key: { text: "Bank sort code" },
        value: { text: data.returnClaimantSortCode or "Not provided" },
        actions: { items: [{ href: "/change/sort-code", text: "Change", visuallyHiddenText: "bank sort code" }] }
      },
      {
        key: { text: "Bank account number" },
        value: { text: data.returnClaimantAccountNumber or "Not provided" },
        actions: { items: [{ href: "/change/account-number", text: "Change", visuallyHiddenText: "bank account number" }] }
      }
    ]
  }) }}

  <form method="post" action="/one-login-returning-claimant/check">
      <h2 class="govuk-heading-m">Declaration</h2>

      {{ govukCheckboxes({
        name: "Declaration",
        items: [
          {
            value: "I have checked the details I've provided and I'm confident they are correct. The bank details match those held by my employer for the account my wages are paid into. I understand that submitting incorrect information may cause a delay to any payment.",
            text: "I have checked the details I've provided and I'm confident they are correct. The bank details match those held by my employer for the account my wages are paid into. I understand that submitting incorrect information may cause a delay to any payment."
          }
        ]
      }) }}

      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Accept and send
        </button>
        {# <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Cancel
        </button> #}
      </div>
    </form>

{% endblock %}
